.Footer {
    padding: 2rem;
    background: var(--color-bg-gray);
    color: var(--color-text-gray);
    font-size: 0.8rem;
    text-align: center;
}

.Footer__Social {
    display: flex;
    justify-content: center;
}

.Footer__Social a {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    opacity: 0.6;
    margin: 15px;
}

.Footer__copyright {
    margin-top: 24px;
}